<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <div class="container">
    {{ content | markdownify }}
  </div>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", function(user) {
      if (!user) {
        window.netlifyIdentity.on("login", function() {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>


</body>
</html>
